<h1 class="animated fadeIn fast">Acerca de:</h1>
<p class="animated fadeIn">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore nihil quas animi ratione cupiditate accusantium tempora voluptatem quibusdam magni vero, sapiente blanditiis deleniti non molestias modi delectus laborum fuga enim.
</p>